body{
    padding: 0;
    margin:0;
    background-color:hsl(212, 45%, 89%) ;
    width:1440px;
    font-size: 15px;
    text-align: center;
    font-family: "Outfit", sans-serif;
}

.base-background{
   background-color: hsl(0, 0%, 100%);
   width: 350px;
   border-radius: 10px;
   margin: auto;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding:15px 5px;
}

img{
    width:300px;
    height:300px;
    border-radius: 10px;
}

h1 {
    padding:5px 20px 0px;
}

p {
    color:hsl(220, 15%, 55%);
    padding: 0px 15px;
   
}